{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Opsee",
        "description": "Own Your Availability.",
        "termsOfService": "http://opsee.co/terms/",
        "contact": {
            "name": "Opsee Team",
            "email": "team@opsee.co",
            "url": "http://opsee.co"
        },
        "license": {
            "name": "Restricted",
            "url": "http://opsee.co"
        }
    },
    "host": "api-beta.opsee.co",
    "basePath": "/",
    "schemes": [
        "http"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/instances/{id}": {
            "get": {
                "description": "Returns a single AWS Instance",
                "operationId": "get",
                "produces": [
                    "application/json"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "ID of instance to fetch",
                        "required": true,
                        "type": "integer",
                        "format": "int64"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Instance response",
                        "schema": {
                            "$ref": "#/definitions/instance"
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "$ref": "#/definitions/errorModel"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "instance": {
            "required": [
                "id",
                "name",
                "lastChecked",
                "state",
                "created",
                "instanceSize",
                "groups",
                "checks"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "lastChecked": {
                    "type": "string",
                    "format": "date-time"
                },
                "state": {
                    "type": "string"
                },
                "created": {
                    "type": "string",
                    "format": "date-time"
                },
                "instanceSize": {
                    "type": "string"
                },
                "groups": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/group"
                    }
                },
                "checks": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/check"
                    }
                }
            }
        },
        "group": {
            "required": [
                "id",
                "name"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                }
            }
        },
        "check": {
            "required": [
                "id",
                "name",
                "url",
                "interval",
                "verb",
                "status",
                "notifications",
                "assertions"
            ],
            "properties": {
                "id": {
                    "type": "integer",
                    "format": "int64"
                },
                "name": {
                    "type": "string"
                },
                "url": {
                    "type": "string"
                },
                "interval": {
                    "type": "integer",
                    "format": "int64"
                },
                "verb": {
                    "type": "string"
                },
                "status": {
                    "type": "string"
                },
                "notifications": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/notification"
                    }
                },
                "assertions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/assertion"
                    }
                }
            }
        },
        "notification": {
            "required": [
                "type",
                "value"
            ],
            "properties": {
                "type": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                }
            }
        },
        "assertion": {
            "required": [
                "relationship",
                "value",
                "type"
            ],
            "properties": {
                "relationship": {
                    "type": "string"
                },
                "value": {
                    "type": "string"
                },
                "type": {
                    "type": "string"
                }
            }
        },
        "errorModel": {
            "required": [
                "code",
                "message"
            ],
            "properties": {
                "code": {
                    "type": "integer",
                    "format": "int32"
                },
                "message": {
                    "type": "string"
                }
            }
        }
    }
}