[Unit]
Description=Bartnet
After=docker.service 
Requires=docker.service
Wants=%p-elb@%i.service

[Service]
Restart=always
User=core
EnvironmentFile=/etc/environment
EnvironmentFile=/opt/etc/environment
Environment="DB_HOST=bartnet.cszaxsj0qt3g.us-west-1.rds.amazonaws.com"
Environment="DB_PORT=5432"
Environment="DB_USER=bartnet"
Environment="DB_PASS=1FNX*o2jRi#TZx"
Environment="DB_NAME=bartnet"
Environment="ETCD_PORT=2379"
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull quay.io/opsee/bartnet:latest
ExecStartPre=/usr/bin/docker run -e DB_HOST=${DB_HOST} -e DB_USER=${DB_USER} -e DB_PORT=${DB_PORT} -e DB_PASS=${DB_PASS} -e DB_NAME=${DB_NAME} quay.io/opsee/bartnet migrate
ExecStart=/usr/bin/docker run --name %p-%i -p 8080:8080 -p 4080:4080 -e ETCD_HOST=${COREOS_PRIVATE_IPV4} -e ETCD_PORT=${ETCD_PORT} -e DB_HOST=${DB_HOST} -e DB_USER=${DB_USER} -e DB_PORT=${DB_PORT} -e DB_PASS=${DB_PASS} -e DB_NAME=${DB_NAME} quay.io/opsee/bartnet
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=bartnet@*.service
