[Unit]
Description=Bartnet
After=docker.service bartnet-redis-master@1.service
Requires=docker.service bartnet-elb@%i.service

[Service]
User=core
EnvironmentFile=/etc/environment
EnvironmentFile=/opt/etc/environment
Environment="DB_HOST=beta-auth.cszaxsj0qt3g.us-west-1.rds.amazonaws.com"
Environment="DB_PORT=5432"
Environment="DB_USER=cliff"
Environment="DB_PASS=opseecliff"
Environment="DB_NAME=opsee_stage"
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull opsee/bartnet:latest
ExecStart=/usr/bin/docker run --name %p-%i -p 8080:8080 -p 4080:4080 -e ETCD_HOST=${ETCD_HOST} -e ETCD_PORT=${ETCD_PORT} -e DB_HOST=${DB_HOST} -e DB_USER=${DB_USER} -e DB_PORT=${DB_PORT} -e DB_PASS=${DB_PASS} -e DB_NAME=${DB_NAME} opsee/bartnet
ExecStop=/usr/bin/docker stop %p-%i

[X-Fleet]
Conflicts=bartnet-api@*.service
