Welcome to Opsee, {{name}}!

===============
<table>
  <tr>
    <td>
      You're in! Click this link to get started!
      http://localhost:8000/password?email={{email}}&token={{id}}
    </td>
  </tr>
</table>

===============