Welcome to Opsee, {{name}}!
;html==
<table>
  <tr>
    <td>
      You're in! Click this link to get started.
      http://localhost:8000/start/password?email={{email}}&token={{id}}
    </td>
  </tr>
</table>
;plain==
You're in! Click this link to get started.
http://localhost:8000/start/password?email={{email}}&token={{id}}