Welcome to Opsee, {{name}}!

<table>
  <tr>
    <td>
      Please click link to verify email https://opsee.co/signup/activate/{{id}}.  If you didn't sign up for opsee with the address {{email}}, please to disregard.
    </td>
  </tr>
</table>