{
    "Version":"2012-10-17",
    "Statement":[
        {
            "Sid":"{{ policy-id }}",
            "Effect":"Allow",
            "Principal":"*",
            "Action":"sqs:SendMessage",
            "Resource":"{{ queue-arn }}",
            "Condition":{
                "ArnEquals":{
                    "aws:SourceArn":"{{ topic-arn }}"
                }
            }
        }
    ]
}